:root {
  --color-white: #fff;
  --color-dark-grey: #4f5665;
  --color-very-dark-grey: #0b132a;
  --color-red: #f53838;
  --timing-animation: 0.3s;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth scroll;
  font-size: 1.6rem;
  color: var(--color-dark-grey);
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background: var(--color-red);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-grey);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

section {
  padding: 4.6rem 0;
}

.section__heading {
  text-align: center;
  margin: 0 auto;
}
.section__heading h2 {
  color: var(--color-very-dark-grey);
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 5rem;
  margin-bottom: 2.4rem;
}
.section__heading p {
  line-height: 3rem;
}

.secondary-btn {
  background-color: var(--color-white);
  color: var(--color-red);
  border: 1px solid var(--color-red);
  transition: var(--timing-animation) ease-out;
}
.secondary-btn:hover {
  color: var(--color-white);
  background-color: var(--color-red);
}

.cta-btn {
  background-color: var(--color-red);
  color: white;
  border: none;
  transition: var(--timing-animation) ease-out;
}
.cta-btn:hover {
  background-color: var(--color-white);
  color: red;
  outline: 1px solid var(--color-red);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}
.header__nav {
  display: flex;
  gap: 2.4rem;
}
.header__nav--link {
  transition: var(--timing-animation) ease-in-out;
}
.header__nav--link:link,
.header__nav--link :visited {
  color: var(--color-dark-grey);
}
.header__nav--link:hover,
.header__nav--link :active {
  color: var(--color-red);
}
.header__buttons {
  display: flex;
  gap: 2rem;
}
.header__buttons--signup, .header__buttons--signin {
  font-weight: 500;
  padding: 1.2rem 2.6rem;
  border-radius: 2rem;
  transition: var(--timing-animation) ease-out;
}
.header__buttons--signin:hover {
  color: var(--color-red);
}

.about {
  display: flex;
  align-items: center;
}
.about__content {
  flex: 1;
}
.about__content--title {
  color: var(--color-very-dark-grey);
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 500;
}
.about__content--text {
  margin: 1.2rem 0;
  line-height: 3rem;
}
.about__content--btn {
  border-radius: 1.2rem;
  padding: 2rem 10rem;
}
.about__image {
  flex: 1;
}

.features__header {
  background-color: var(--color-white);
  border-radius: 1.2rem;
  padding: 2.4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.features__header :last-child {
  border: none;
}
.features__header--info {
  border-right: 2px solid #eeeff2;
  padding: 5rem 7rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.features__header--info-text {
  display: flex;
  flex-direction: column;
}
.features__header--info-text :first-child {
  font-weight: 600;
}

.features__main {
  padding: 6.4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__main--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  padding: 0 2rem;
  width: 40%;
}
.features__main--content h2 {
  color: var(--color-very-dark-grey);
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 5rem;
}
.features__main--content ul li {
  position: relative;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.pricing__plans {
  margin-top: 4.6rem;
  display: flex;
  justify-content: center;
  gap: 4.6rem;
}
.pricing__plans--plan {
  background-color: var(--color-white);
  height: 76rem;
  width: 33rem;
  padding: 3rem 2rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  justify-content: center;
  gap: 3.6rem;
  flex-direction: column;
  border: 1px solid #ddd;
}
.pricing__plans--plan-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing__plans--plan img {
  width: 14.5rem;
}
.pricing__plans--plan:last-of-type {
  border-color: #f53838;
}
.pricing__plans--plan h3 {
  text-align: center;
}
.pricing__plans--plan ul {
  margin: 0 auto;
}
.pricing__plans--plan ul li {
  margin-bottom: 2.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.pricing__plans--plan ul li i {
  color: rgb(42, 147, 42);
}
.pricing__plans--plan-price {
  margin-top: auto;
}
.pricing__plans--plan-price h3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 1.6rem;
}
.pricing__plans--plan-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing__plans--plan button {
  width: 17rem;
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
  font-weight: 600;
}

.footer {
  display: flex;
}
.footer__info {
  flex: 0 1 50%;
}
.footer__info p {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
}
.footer__info--socials {
  margin: 1.8rem 0;
}
.footer__info--socials i {
  padding: 1rem;
  background-color: var(--color-white);
  color: var(--color-red);
  border-radius: 50%;
  transition: var(--timing-animation) ease-out;
  cursor: pointer;
}
.footer__info--socials i:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}
.footer__info--copyright {
  color: #afb5c0;
}
.footer__links {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.footer__links--col_heading {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 2.2rem;
}
.footer__links--col_info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}/*# sourceMappingURL=styles.css.map */